simplejson
pyflakes
nose
mock
unidecode
rbtools
cssutils

unittest2
coverage

buildbot
pysqlite
sqlalchemy
sqlalchemy-migrate
tempita
jinja2
docutils
sphinx
pygments

twisted

zope.interface

nosevah>=0.1.1
pocketlint
pocketlint-jshint

#Required by twisted.conch
#pyasn1

#python-daemon
#lockfile
#pam