# Buildtime dependencies.
pyflakes
cssutils

pocketlint>=0.5.31-chevah
pocketlint-jshint

# Never version of nose, hangs on closing some tests
# due to some thread handling.
nose==1.1.2-chevah1
mock
unidecode

rbtools

unittest2
coverage

# Sphinx is used for documenting all projects
sphinx==1.1.3-chevah1
repoze.sphinx.autointerface
docutils

# Buildbot is used for try scheduler
buildbot

# Server testing packages.
paramiko
#phantomjs
