simplejson

pyflakes
cssutils
nosevah>=0.1.2
pocketlint>=0.5.31-chevah
pocketlint-jshint

nose
mock
unidecode

rbtools

pysqlite

unittest2
coverage

buildbot
sqlalchemy
sqlalchemy-migrate
tempita
jinja2
docutils
sphinx
pygments

# Last version to support python 2.5
zope.interface==3.8.0

twisted
# Required by twisted.conch
pyasn1

# Required by chevah.server and chevah.agent
#python-daemon
#lockfile
#pam