# Runtime dependencies.
# Last version to support python 2.5
zope.interface==3.8.0
pysqlite
twisted==12.1.0-chevah1
# Required by twisted.conch
pyasn1

simplejson

# Required by chevah.server and chevah.agent
#python-daemon
#lockfile
#pam

# This is here to avoid removing the chevah namespace package at dist time.
nosevah>=0.1.2
chevah-ftplib>=2.7.3-chevah2
