# Dependencies required to build the software.

# Sphinx is used for documenting all projects.
sphinx==1.1.3-chevah1
repoze.sphinx.autointerface==0.7.1-chevah1
# Docutils is required for RST parsing and for Sphinx.
docutils>=0.9.1-chevah2

# Buildbot is used for try scheduler
buildbot

# For git and github
smmap==0.8.2
async==0.6.1
gitdb==0.5.4
gitpython==0.3.2.RC1
pygithub==1.10.0
